{% extends 'base.html' %}

{% block content %}

    <h1>My Projects</h1>
    <header><a href="{% url "create_project" %}">Create a project</a></header>
    {% if not list_projects %}
        <p>You are not assigned to any projects</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for projects in list_projects %}
                    <tr>
                        <td><a href="{% url "show_project" projects.id %}">{{projects.name}}</a></td>
                        <td> {{projects.tasks.all|length}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock content %}